body,
html {
  height: 100%;
  width: 100%;
  background: url(/Photos/Background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
}

span {
  color: #40cbcb;
}

button {
  background-color: #40cbcb;
  font: black;
  border-radius: 0.5em;
  height: 20px;
}

input {
  width: 200px;
  height: 20px;
  border-radius: 0.5em;
  border: none;
}

form {
    height: 400px;
}

.center {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.nav-container {
  height: 1.2em;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.nav-form, .nav-text {
  align-self: center;
  padding-right: 20px;
}

.content-wrapper {
    height: 100vh;
    width: 100vw;
    margin: auto;
    max-width: 1400px;
    overflow: hidden;
    display:flex;
    justify-content: center;
}

.image-container {
    order: 2; /* puts image on right */

    /*centers image vertically*/
    display: flex;
    align-items: center;

    /* */
    /* max-width: 350px; */
}

img, .mockup {
  /* max-width: 350px; */
  max-height: 1097px;
  height: 90vh;
  width: auto;
}

.snap-scroller {
    max-height: 100vh;
    overflow-y: scroll;
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
    -ms-scroll-snap-points-y: repeat(3rem);
        scroll-snap-points-y: repeat(3rem);
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    -ms-overflow-style: none; /* hide scroll bar on IE and edge */
    width: auto;
}

/* hide scroll bar on chrome, safari, and opera */
.snap-scroller::-webkit-scrollbar {
    display: none;
  }

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    height: 100vh;
}

.section-content {
    height: fit-content;
}

.tagline2 {
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  animation: text 2s 1;
}

.form-header {
    padding: 20px;
}


@keyframes text {
  0% {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 15px;
  }
  100% {
    letter-spacing: 5px;
  }
}
