body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

html::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('/Photos/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 70%;
}

h2 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 5px;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

span {
  color: #40cbcb;
}

button {
  background-color: #40cbcb;
  color: #fff;
  border-radius: 0.5em;
  height: 20px;
}

input {
  box-shadow: none;
  border: none;
  -webkit-appearance: searchfield;
  -moz-appearance: searchfield;
  appearance: searchfield;
  background-clip: padding-box;
  color: #000;
  background-color: #fff;
}

.center {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2em;
  width: 100vw;
  position: fixed;
}

.content-wrapper {
  width: 100vw;
  overflow: hidden;
}

.snap-scroller {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(3rem);
  scroll-snap-points-y: repeat(3rem);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* hide scroll bar on IE and edge */
}

/* hide scroll bar on chrome, safari, and opera */
.snap-scroller::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: fixed;
  left: 60%;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  margin: 0;
  padding: 0;
}

.mockup {
  max-width: 548.5px;
  max-height: 90vh;
  width: auto;
  height: auto;
}

.section {
  display: flex;
  align-items: center;
  justify-content: left;
  scroll-snap-align: center;
  min-height: 100vh;
}

.section-content {
  width: 60%;
  height: fit-content;
}

.hero-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.hero-form-heading {
  margin: 10px;
  width: 100%;
}

.hero-form {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-form > button[type='submit'] {
  position: absolute;
  right: 0;
}

.hero-form:invalid > button[type='submit'] {
  opacity: 0;
  font-size: 0;
  transition: opacity 0.3s, height 0.3s, font-size, 0.3s;
}
.hero-form:valid > button[type='submit'] {
  font-size: 1.2em;
  height: 100%;
  opacity: 100%;
  transition: opacity 0.3s, height 0.3s, font-size, 0.3s;
}

.hero-form > input {
  width: 300px;
  max-width: 100%;
  height: 3em;
  font-size: 1em;
  border-radius: 10px;
  text-indent: 1em;
  padding-right: calc(1.2em * 6);
}

.hero-form > input::-webkit-input-placeholder {
  text-indent: 1em;
}
.hero-form > input::-moz-placeholder {
  /* Firefox 19+ */
  text-indent: 1em;
}
.hero-form > input:-ms-input-placeholder {
  /* IE 10+ */
  text-indent: 1em;
}
.hero-form > input:-moz-placeholder {
  /* Firefox 18- */
  text-indent: 1em;
}

.animate {
  font-size: 2em;
  letter-spacing: 5px;
  text-transform: uppercase;
  animation: text 2s 1;
}

@media only screen and (max-width: 1024px) {
  .tagline-container {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    position: unset;
    transform: unset;
  }
  .section {
    margin: 0 10px;
    justify-content: center;
  }
  .section-content {
    transform: unset;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
  }
  .mockup {
    width: 60vw;
    max-width: 548.5px;
  }
}

@keyframes text {
  0% {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 15px;
  }
  100% {
    letter-spacing: 5px;
  }
}
