body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  --primary-color: #40cbcb;
}

html::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 70%;
}

h1 {
  margin: 0;
  font-size: 4.5rem;
  letter-spacing: 5px;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

.primary-color {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--primary-color);
}

.logo-font {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  letter-spacing: 5px;
  color: var(--primary-color);
}

button {
  color: #fff;
  border-radius: 0.5em;
  height: 20px;
  padding: unset;
}

input,
textarea {
  box-shadow: none;
  border: none;
  -webkit-appearance: searchfield;
  -moz-appearance: searchfield;
  appearance: searchfield;
  background-clip: padding-box;
  color: #000;
  background-color: #fff;
  padding: unset;
}

.animate {
  animation: textFullScreen 2s 1;
}

.uppercase {
  font-size: 2em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.center {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.content-wrapper {
  width: 100vw;
  overflow: hidden;
}

.snap-scroller {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(3rem);
  scroll-snap-points-y: repeat(3rem);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  /* hide scroll bar on IE and edge */
  -ms-overflow-style: none;
}

/* hide scroll bar on chrome, safari, and opera */
.snap-scroller::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: fixed;
  left: 60%;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  margin: 0;
  padding: 0;
}

.mockup {
  max-width: 548.5px;
  max-height: 100vh;
  width: auto;
  height: auto;
}

.section {
  display: flex;
  align-items: center;
  justify-content: left;
  scroll-snap-align: center;
  min-height: 100vh;
}

.section-content {
  width: 60%;
  height: fit-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form > button[type="submit"] {
  height: 2.7em;
  font-size: 1.2em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  width: calc(1em * 6);
  border: none;
}

.form:invalid > button[type="submit"] {
  opacity: 60%;
}

.form:invalid > button[type="submit"]:hover {
  opacity: 60%;
}

.form > button[type="submit"]:hover {
  opacity: 110%;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px var(--primary-color);
}

.form > button[type="submit"] > i {
  padding-right: 5px;
}

.form > input,
.form > textarea {
  width: 300px;
  max-width: 100%;
  height: 2.5em;
  font-size: 1em;
  border-radius: 10px;
  text-indent: 1em;
  margin-bottom: 10px;
}

.form > textarea {
  text-indent: 0;
  width: calc(300px - 2em);
  padding: 1em;
  height: 7.5em;
  resize: none;
}

.form > input:focus,
.form > textarea:focus {
  outline: none;
}

.form > input::-webkit-input-placeholder {
  text-indent: 1em;
}
.form > input::-moz-placeholder {
  /* Firefox 19+ */
  text-indent: 1em;
}
.form > input:-ms-input-placeholder {
  /* IE 10+ */
  text-indent: 1em;
}
.form > input:-moz-placeholder {
  /* Firefox 18- */
  text-indent: 1em;
}

.hero-form-container {
  margin-top: 50px;
}

.hero-form-header {
  margin: 10px 0;
  width: 100%;
}

.hero-form {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-form > button[type="submit"] {
  transition: opacity 0.3s, width 0.3s;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100% - 10px) !important;
}

.hero-form:invalid > button[type="submit"] {
  opacity: 0;
  width: 0;
}

.hero-form:valid > button[type="submit"] {
  width: calc(0.9em * 6);
  opacity: 100%;
  box-shadow: -5px 0px 12px -7px rgba(0, 0, 0, 0.47);
}

.hero-form > input {
  --padding-for-submit-button: calc(1.2em * 6);
  max-width: calc(100% - var(--padding-for-submit-button));
  padding-right: var(--padding-for-submit-button);
}

.footer-form > button[type="submit"] {
  width: 300px;
  max-width: 100%;
}

.toast {
  width: 300px;
  max-width: 90vw;
  background: #fff;
  padding: 30px;
  z-index: 100;
  margin-top: 10px;
  box-shadow: -5px 10px 12px -7px rgba(0, 0, 0, 0.47);
}

.toast-container {
  display: flex;
  align-items: center;
}

.toast.success .toast-left {
  color: green;
}

.toast.error .toast-left {
  color: red;
}

.toast-left {
  width: 1.4em;
  font-size: 2em;
}

.toast-body {
  flex-grow: 1;
}

.toast-header {
  font-size: 1em;
}

.toast-message {
  font-size: 0.8em;
  color: #444;
}

.toast-right {
  width: 0.8em;
  font-size: 1em;
  color: #777;
}

.toast-close {
  cursor: pointer;
}

.remove-toast {
  transition: opacity 0.3s, width 0.3s;
  opacity: 0;
  width: 0;
}

#toasts {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .tagline-container {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    position: unset;
    transform: unset;
  }
  .section {
    margin: 0 10px;
    justify-content: center;
  }
  .section-content {
    transform: unset;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-show-flex {
    display: none !important;
  }

  .mobile-hide {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
  }

  .logo-font {
    font-size: 3em;
  }

  .mockup {
    width: 100vw;
  }
  .animate {
    font-size: 2em;
    animation: textSmallScreen 2s 1;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-show-flex {
    display: flex !important;
  }
}

@keyframes textFullScreen {
  0% {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 15px;
  }
  100% {
    letter-spacing: 5px;
  }
}

@keyframes textSmallScreen {
  0% {
    letter-spacing: 3px;
  }
  50% {
    letter-spacing: 8px;
  }
  100% {
    letter-spacing: 5px;
  }
}
